html(lang="da")
 head 
  // Meta tags
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title Portfolio website| Sharmarke Hujale 
  meta(name="description", content="")
  //CSS
  link(rel="stylesheet", href="/assets/css/main.css")
 body
  include ./includes/_nav.jade
  section.hero
   div.container
     h1 Passion, dedikation, og en masse kreativitet.
     h3 Frontend-udvikler & Grafisk designer
    
  //JS
  script(src="/assets/js/function.js")
