html(lang="da")
  head 
    // Meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Om mig | Sharmarke Hujale 
    meta(name="description", content="")
    // CSS
    link(rel="stylesheet", href="./assets/css/main.css")
    
  body
    // Navigation
    include ./includes/_nav.jade
    
    //Hero
    section.hero-about.default-section-pri
     div.container 
      div.row.heading-area
       h1.section-heading.wow.fadeInUp Om mig
       div.height
       h2.section-text.wow.fadeInUp Sharmarke Hujale
       div.height
       h4.section-heading.wow.fadeInUp Aarhus
    
    //About
    section.about.default-section-sec
     div.container 
      div.row.heading-area.wow.fadeInUp
       div.height
       p.section-text Jeg er en grafisk designer & frontend-udvikler bosat i Aarhus med 4 års erfaring i bagagen. Jeg er en passioneret, kreativ trold, som elsker at skabe og udvikle designs og visuel identiteter.
       p.section-text Til dagligt studerer jeg som multimediedesigner på Erhvervakademiet i Aarhus og driver også en lille design studio ved navn NSIGT, hvor der arbejdes med brandudvikling, digitale løsninger og markedsføring.
       p.section-text Når jeg ikke sidder på skærmen og arbejder, så kan jeg godt lide at holde mig i form ved at tage en dejlig løbetur for at holde hovedet og sindet kørende.
     
    
    // Contact
    include ./includes/_contact.jade
    a(href="#0", class="cd-top cd-is-visible") Top
    // JS
    include ./includes/_scripts.jade
