html(lang="da")
  head 
    // Meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Portfolio | Sharmarke Hujale 
    meta(name="description", content="")
    // CSS
    link(rel="stylesheet", href="./assets/css/main.css")
    
  body
    // Navigation
    include ./includes/_nav.jade
    
    //Hero
    section.hero-portfolio.default-section-pri
     div.container 
      div.row.heading-area
       h1.section-heading.wow.fadeInUp Portfolio
       div.height
       h2.section-text.wow.fadeInUp Oversigt over udvalgte projekter
       
    //Portfolio
    section.portfolio.default-section-sec
     div.container
      div.text-center
       div.portfolio-container.wow.fadeInUp
        article.portfolio-item
         a(href="#", class="portfolio-link", style="background-image: url(./assets/images/landingpage.jpg)", title="Aarhus Kulturby 2017")
          div.portfolio-content
           h2.portfolio-title Aarhus kulturby 2017
        article.portfolio-item
         a(href="#", class="portfolio-link", style="background-image: url(./assets/images/artselect.jpg)", title="Online magasin")
          div.portfolio-content
           h2.portfolio-title Online magasin
        article.portfolio-item
         a(href="#", class="portfolio-link", style="background-image: url(./assets/images/responsive.jpg)", title="Responsive website")
          div.portfolio-content
           h2.portfolio-title Responsive website
       
    // Contact
    include ./includes/_contact.jade
    a(href="#0", class="cd-top cd-is-visible") Top
    // JS
    include ./includes/_scripts.jade
