html(lang="da")
  head 
    // Meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Responsive Web Design | Sharmarke Hujale
    meta(name="description", content="Projektet bestod i at udvikle en responsive løsning ude fra en Mobile-First tilgang til en selvvalgt kunde.")
    // CSS
    link(rel="stylesheet", href="./assets/css/main.css")
    
  body
    // Navigation
    include ./includes/_nav.jade
    
     
    
    // Contact
    include ./includes/_contact.jade
    a(href="#0", class="cd-top cd-is-visible") Top
    // JS
    include ./includes/_scripts.jade
