// Colors
$primary-color: #eec843;
$secondary-color: #162133;
$white-color: #ffffff;
$black-color: #1f1f1f;

//Typography
$heading-font: 'League Spartan Bold', sans-serif;
$bodytext-font: 'Libre Baskervill', serif;

//Section padding
$section-padding-one: 300px 0;
$section-padding-two: 100px 0;
$section-padding-three: 50px 0;

//Height
$button-height: 27px;
$button-width: 35px;
