// Colors
$primary-color: #162133;
$secondary-color: #eec843;
$white-color: #ffffff;
$black-color: #1f1f1f;

//Typography
$heading-font: 'League Spartan', sans-serif;
$bodytext-font: 'Libre Baskerville', serif;

//Section padding
$section-padding-one: 300px 0;
$section-padding-two: 200px 0;
$section-padding-three: 150px 0;
$section-padding-fourth: 100px 0;
$section-padding-fifth: 50px 0;

//Height
$button-height: 27px;
$button-width: 35px;
