.scroll-down {
  cursor: pointer;
  width: 17px;
  height: 33px;
  border-radius: 50px;
  border: 2px solid $secondary-color;
  position: absolute;
  left: 46%;
  margin-top: 50px;

  &:after {
    content: "";
    display: block;
    width: 2px;
    height: 10px;
    margin: 5px auto;
    background-color: $secondary-color;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: fadeOutDown;
  }
}
@media(min-width: 768px) {
  .scroll-down {
    width: 30px;
    height: 62px;

    &:after {
      width: 3px;
      height: 12px;
    }
  }
}
@media(min-width: 992px) {
  .scroll-down {
    left: auto;
  }
}
