//Deafult section

section.default-section-pri {
  background-color: $primary-color;
  color: $secondary-color;
}

section.default-section-sec {
  background-color: $secondary-color;
  color: $primary-color;
}
//Hero section

section.hero {
  padding: $section-padding-two;

  .site-heading {
    font-size: 24px;
    font-weight: 800;
  }

  .sub-heading {
    font-family: $bodytext-font;
    font-weight: 600;
  }
}
@media(min-width: 768px) {
  section.hero {
    .site-heading {
      font-size: 35px;
    }

    .sub-heading {
      font-size: 25px;
    }
  }
}
@media(min-width: 992px) {
  section.hero {
    padding: $section-padding-one;

    .site-heading {
      font-size: 72px;
    }

    .height {
      margin-bottom: 0;
    }

    .sub-heading {
      font-size: 39px;
    }
  }
}
//About section

section.about {
  padding: $section-padding-fifth;

  .section-heading {
    margin-bottom: 20px;
  }

  .section-text {
    margin-bottom: 30px;
  }
}
@media(min-width: 768px) {
  section.about {
    .section-text {
      font-size: 20px;
      line-height: 2;
    }
  }
}
@media (min-width: 992px) {
  section.about {
    padding: $section-padding-fourth;

    .section-text {
      font-size: 30px;
    }
  }
}
//Skills section

section.skills {
  padding: $section-padding-fifth;

  .heading-dot {
    margin-top: 20px;
  }
}
@media(max-width: 767px) {
  section.skills {
    .heading-area {
      padding: 0;
    }
  }
}
//Portfolio section
section.portfolio {
  padding: $section-padding-fifth;
}
//Contact section
section.contact {
  padding: $section-padding-fifth;

  .section-heading {
    margin-bottom: 24px;
  }

  .section-text {
    margin-bottom: 50px;
    font-weight: 700;
  }
}
@media(min-width: 768px) {
  section.contact {
    .section-text {
      font-size: 25px;
    }
  }
}
@media(min-width: 992px) {
  section.contact {
    .section-text {
      font-size: 35px;
    }
  }
}
