//Deafult section

section.default-section-pri {
  background-color: $primary-color;
  color: $secondary-color;
}

section.default-section-sec {
  background-color: $secondary-color;
  color: $primary-color;
}
//Hero section

section.hero {
  padding: $section-padding-two;

  .me {
    display: none;
  }

  .site-heading {
    font-size: 24px;
    font-weight: 800;
  }

  .sub-heading {
    font-family: $bodytext-font;
    font-weight: 600;
  }
}
//About section

section.about {
  padding: $section-padding-fifth;

  .section-heading {
    margin-bottom: 20px;
  }

  .section-text {
    margin-bottom: 30px;
  }
}
//About page

section.hero-about {
  padding: $section-padding-fourth;

  .section-text {
    font-family: $bodytext-font;
    font-size: 20px;
  }
}
//Skills section

section.skills {
  padding: $section-padding-fifth;

  .heading-dot {
    margin-top: 20px;
  }
}
//Portfolio section

section.portfolio {
  padding: $section-padding-fifth;
}
//Porfolio page

section.hero-portfolio {
  padding: $section-padding-fourth;

  .section-text {
    font-family: $bodytext-font;
    font-size: 20px;
  }
}
//specific portfolio project

section.portfolio-specific {
  padding: $section-padding-three;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;

  .heading-area {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
  }
}

section.portfolio-content {
  padding: $section-padding-fourth;

  .heading-area {
    text-align: left;
  }

  .case-study-wrapper {
    h2,
    h3,
    h4 {
      margin: 20px 0;
    }

    h2 {
      font-size: 20px;
    }

    p {
      color: $white-color;
      line-height: 2;
      font-size: 15px;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      max-width: 450px;
      height: auto;
      margin-bottom: 20px;
    }
  }
}
//Contact section

section.contact {
  padding: $section-padding-fifth;

  .section-heading {
    margin-bottom: 24px;
  }

  .section-text {
    margin-bottom: 50px;
    font-weight: 700;
  }
}
//Media
@media(min-width: 768px) {
  section.hero {
    .site-heading {
      font-size: 35px;
    }

    .sub-heading {
      font-size: 25px;
    }
  }

  section.about {
    .section-text {
      font-size: 20px;
      line-height: 2;
    }
  }

  section.hero-about {
    padding: $section-padding-three;

    .section-heading {
      font-size: 25px;
    }

    .section-text {
      font-size: 50px;
    }
  }

  section.skills {
    .heading-dot {
      margin-top: 69px;
    }
  }

  section.hero-portfolio {
    padding: $section-padding-three;

    .section-heading {
      font-size: 25px;
    }

    .section-text {
      font-size: 50px;
    }
  }

  section.portfolio-specific {
    padding: $section-padding-three;

    .heading-area {
      font-size: 50px;
    }
  }

  section.contact {
    .section-text {
      font-size: 25px;
    }
  }
}
@media(min-width: 992px) {
  section.hero {
    padding: $section-padding-one;

    .site-heading {
      font-size: 72px;
    }

    .height {
      margin-bottom: 0;
    }

    .sub-heading {
      font-size: 39px;
    }
  }

  section.about {
    padding: $section-padding-fourth;

    .section-text {
      font-size: 23px;
    }
  }

  section.portfolio-specific {
    padding: $section-padding-two;

    .heading-area {
      font-size: 78px;
      text-align: center;
    }
  }

  section.portfolio-content {
    .case-study-wrapper {
      h2{
        font-size: 40px;
        margin: 40px 0;
      }
    }
  }

  section.contact {
    .section-text {
      font-size: 35px;
    }
  }
}
@media(min-width: 1200px) {
  section.hero {
    .me {
      display: block;
      max-width: 615px;
      width: 100%;
      position: absolute;
      top: 0;
      right: -315px;
      clip: rect(-8px,301px,818px,19px);
    }
  }

  section.hero-portfolio {
    .height {
      margin-bottom: 10px;
    }
  }
}

section.portfolio-content {
  .case-study-wrapper {
    img {
      max-width: 350px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}
@media(max-width: 767px) {
  section.skills {
    .heading-area {
      padding: 0;
    }
  }
}
