.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24%;
    height: 87px;
    background-color: $secondary-color;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;

    .item-img {
      height: 44px;
    }
  }
}
@media(min-width: 768px) {
  .items-container {
    .item-box {
      flex: 0 0 25%;
      height: 141px;

      .item-img {
        height: 66px;
      }
    }
  }
}
