@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
@font-face {
  font-family: 'League Spartan', sans-serif;
  src: url("../fonts/LeagueSpartanBold.otf") format("otf"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", sans-serif; }

p {
  font-family: "Libre Baskerville", serif; }

a {
  font-family: "Libre Baskerville", serif;
  color: #eec843;
  text-decoration: none; }
  a:active, a:focus {
    color: #f6e3a1; }

a.custom-link {
  color: #162133;
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px; }
  a.custom-link:active, a.custom-link:focus {
    color: #354f7a; }
  a.custom-link:after {
    content: "⟶";
    margin-left: 5px;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease; }
  a.custom-link:hover:after {
    margin-left: 40px; }

.logo {
  max-width: 100%;
  width: 50px;
  height: 80px;
  z-index: 99;
  position: absolute;
  top: 14px;
  left: 33px; }

.heading-area {
  text-align: center;
  padding: 0 60px;
  line-height: 1.2; }

.section-heading {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

.heading-dot {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.text-center {
  text-align: center; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.height {
  margin-bottom: 30px; }

.button_container {
  position: absolute;
  top: 46px;
  right: 6%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  .button_container:before {
    content: "Menu";
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #eec843;
    text-transform: uppercase;
    position: absolute;
    right: 134%;
    top: 19%; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active {
    position: fixed; }
    .button_container.active .top {
      -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #eec843; }
    .button_container.active .middle {
      opacity: 0;
      background: #eec843; }
    .button_container.active .bottom {
      -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #eec843; }
  .button_container span {
    background: #eec843;
    border: none;
    height: 2px;
    width: 33px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 8px; }
    .button_container span:nth-of-type(3) {
      top: 16px; }

@media (min-width: 768px) {
  .button_container {
    top: 61px;
    right: 8%; } }

@media (min-width: 1200px) {
  .button_container {
    right: 4%; } }

.overlay {
  position: fixed;
  background: #162133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 100; }
    .overlay.open li {
      -webkit-animation: fadeInRight .5s ease forwards;
      animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    text-align: center; }
  .overlay .soc {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative; }
    .overlay ul li {
      display: block;
      height: 18%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden;
        font-weight: 700;
        font-size: 3rem; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 3px;
          background: #ffffff;
          -webkit-transition: .35s;
          -o-transition: .35s;
          transition: .35s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

section.default-section-pri {
  background-color: #162133;
  color: #eec843; }

section.default-section-sec {
  background-color: #eec843;
  color: #162133; }

section.hero {
  padding: 200px 0; }
  section.hero .site-heading {
    font-size: 24px;
    font-weight: 800; }
  section.hero .sub-heading {
    font-family: "Libre Baskerville", serif;
    font-weight: 600; }

section.about {
  padding: 50px 0; }
  section.about .section-heading {
    margin-bottom: 20px; }
  section.about .section-text {
    margin-bottom: 30px; }

section.skills {
  padding: 50px 0; }
  section.skills .heading-dot {
    margin-top: 20px; }

section.portfolio {
  padding: 50px 0; }

section.contact {
  padding: 50px 0; }
  section.contact .section-heading {
    margin-bottom: 24px; }
  section.contact .section-text {
    margin-bottom: 50px;
    font-weight: 700; }

.items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .items-container .item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33%;
    height: 87px;
    background-color: #eec843;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px; }
    .items-container .item-box .item-img {
      height: 44px; }

.portfolio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .portfolio-container .portfolio-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    height: 163px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .portfolio-container .portfolio-item .portfolio-link {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .portfolio-container .portfolio-item .portfolio-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      -webkit-transition: all .6s ease;
      -o-transition: all .6s ease;
      transition: all .6s ease;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8); }
      .portfolio-container .portfolio-item .portfolio-content:hover, .portfolio-container .portfolio-item .portfolio-content:focus, .portfolio-container .portfolio-item .portfolio-content:active {
        opacity: 1; }
      .portfolio-container .portfolio-item .portfolio-content .portfolio-title {
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff; }

.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius: 50px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #1d1d1d url(~/assets/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 1000; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }

.scroll_ {
  cursor: pointer;
  width: 17px;
  height: 33px;
  border-radius: 50px;
  border: 2px solid #eec843;
  position: absolute;
  left: 46%;
  margin-top: 50px; }

.scroll:before {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  margin: 5px auto;
  background-color: #eec843;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@font-face {
  font-family: 'si';
  src: url("./fonts/socicon.eot");
  src: url("./fonts/socicon.eot?#iefix") format("embedded-opentype"), url("./fonts/socicon.woff") format("woff"), url("./fonts/socicon.ttf") format("truetype"), url("./fonts/socicon.svg#icomoonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: si;
    src: url(./fonts/socicon.svg) format(svg); } }

.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }
  .soc li {
    display: inline-block;
    *display: inline;
    zoom: 1; }
    .soc li a {
      font-family: si !important;
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      text-decoration: none;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;
      width: 33px;
      height: 33px;
      line-height: 33px;
      font-size: 18px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-right: 10px;
      color: #eec843;
      background-color: transparent; }

.soc-icon-last {
  margin: 0 !important; }

.soc-twitter:before {
  content: '\e040'; }

.soc-behance:before {
  content: '\e027'; }

.soc-linkedin:before {
  content: '\e049'; }

.soc-instagram:before {
  content: '\e057'; }

/*# sourceMappingURL=main.css.map */