section#4.contact.default-section-pri 
 div.container
  div.row.heading-area
   h4.section-heading 04.kontakt
   h4.section-heading Sig hej
   h4.section-text
    a(href="mailto:hujale.sharmarke@gmail.com") hujale.sharmarke@gmail.com 
   h4.section-heading Følg mig
   br
   ul.soc
    li
     a(href="https://twitter.com/sharmarkehujale" class="soc-twitter")
    li
     a(href="https://twitter.com/sharmarkehujale" class="soc-behance")
    li
     a(href="https://twitter.com/sharmarkehujale" class="soc-linkedin")
    li
     a(href="https://twitter.com/sharmarkehujale" class="soc-instagram soc-icon-last")
