section#4.contact.default-section-pri 
 div.container
  div.row.heading-area
   h4.section-heading 04.kontakt
   h4.section-heading Sig hej
   h4.section-text
    a(href="mailto:hujale.sharmarke@gmail.com") hujale.sharmarke@gmail.com 
   h4.section-heading Følg mig
   br
   ul.soc
    li
     a(href="https://twitter.com/sharmarkehujale" class="soc-twitter", title="Twitter")
    li
     a(href="https://www.behance.net/sharmarkehujale" class="soc-behance", title="Behance")
    li
     a(href="https://www.linkedin.com/in/sharmarkehujale/" class="soc-linkedin", title="LinkedIn")
    li
     a(href="https://www.instagram.com/shujale/" class="soc-instagram soc-icon-last", title="Instagram")
