header
  a(href="index.html", class="wow fadeInUpBig") 
    img(src="./assets/images/logo.svg", class="logo")
  div.button_container#toggle
    span.top
    span.middle
    span.bottom
  div.overlay#overlay
    nav.overlay-menu
      ul
        li
          a(href="index.html") Forside
        li
          a(href="om-mig.html") Om mig
        li
          a(href="portfolio.html") Portfolio
        li
          a(href="#4") Kontakt
