header
 a(class="logo", href="index.html") 
 div.button_container#toggle
  span.top
  span.middle
  span.bottom
 div.overlay#overlay
  nav.overlay-menu
   ul
     li
       a(href="index.html")
       a(href="om-mig.html")
       a(href="portfolio.html")
       a(href="#kontakt")  
