section.portfolio.default-section-sec
 div.container
  div.text-center
   h4.section-heading.wow.fadeInUp 03. Portfolio
   br
   //Portfolio items
   div.portfolio-container.wow.fadeInUp
    article.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/landingpage.jpg)", title="Aarhus Kulturby 2017")
      div.portfolio-content
       h2.portfolio-title Aarhus kulturby 2017
    article.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/artselect.jpg)", title="Online magasin")
      div.portfolio-content
       h2.portfolio-title Online magasin
    artile.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/responsive.jpg)", title="Responsive website")
      div.portfolio-content
       h2.portfolio-title Responsive website
  div.container
   div.text-center
    br
    br
    a(href="#", class="custom-link wow fadeInUp") Se alle
