section.portfolio.default-section-sec
 div.container
  div.text-center
   h4.section-heading 03. Portfolio
   br
   //Portfolio items
   div.portfolio-container
    article.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/mockup.jpg)")
      div.portfolio-content
       h2.portfolio-title Aarhus kulturby 2017
    article.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/mockup.jpg)")
      div.portfolio-content
       h2.portfolio-title Online magasin
    artile.portfolio-item
     a(href="#", class="portfolio-link", style="background-image: url(./assets/images/mockup.jpg)")
      div.portfolio-content
       h2.portfolio-title Responsive website
  div.container
   div.text-center
    br
    br
    a(href="#", class="custom-link") Se alle
