section.skills.default-section-pri
  div.container
    div.text-center
      h4.section-heading 02. Skills
      br
      //Programmering
      h4.heading-dot Programmering.
      br 
      div.items-container
        div.item-box
          img(src="./assets/images/icons/html.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/css.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/github.svg", class="item-img")
      div.items-container
        div.item-box
          img(src="./assets/images/icons/wordpress.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/jquery.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/sass.svg", class="item-img")
      br
      br
      br
      //Design 
      h4.heading-dot Design.
      br
      div.items-container
        div.item-box
          img(src="./assets/images/icons/photoshop.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/illustrator.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/indesign.svg", class="item-img")
      div.items-container
        div.item-box
          img(src="./assets/images/icons/xd.svg", class="item-img")
