section.skills.default-section-pri
  div.container
    div.heading-area
      h3.section-heading.wow.fadeInUp 02. Skills
      //Programmering
      h4.heading-dot.text-center.wow.fadeInUp Programmering. 
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/html.svg", class="item-img", alt="HTML5")
        div.item-box
          img(src="./assets/images/icons/css.svg", class="item-img" alt="CSS3")
        div.item-box
          img(src="./assets/images/icons/github.svg", class="item-img" alt="Github")
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/wordpress.svg", class="item-img" alt="Wordpress")
        div.item-box
          img(src="./assets/images/icons/jquery.svg", class="item-img" alt="Jquery")
        div.item-box
          img(src="./assets/images/icons/sass.svg", class="item-img" alt="SASS")
      //Design 
      h4.heading-dot.text-center.wow.fadeInUp Design.
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/photoshop.svg", class="item-img", alt="Photoshop")
        div.item-box
          img(src="./assets/images/icons/illustrator.svg", class="item-img", alt="Illustrator")
        div.item-box
          img(src="./assets/images/icons/indesign.svg", class="item-img", alt="InDesign")
