section.skills.default-section-pri
  div.container
    div.heading-area
      h4.section-heading.wow.fadeInUp 02. Skills
      br
      //Programmering
      h4.heading-dot.text-center.wow.fadeInUp Programmering.
      br 
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/html.svg", class="item-img", title="HTML5")
        div.item-box
          img(src="./assets/images/icons/css.svg", class="item-img" title="CSS3")
        div.item-box
          img(src="./assets/images/icons/github.svg", class="item-img" title="Github")
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/wordpress.svg", class="item-img" title="Wordpress")
        div.item-box
          img(src="./assets/images/icons/jquery.svg", class="item-img" title="Jquery")
        div.item-box
          img(src="./assets/images/icons/sass.svg", class="item-img" title="SASS")
      br
      br
      br
      //Design 
      h4.heading-dot.text-center.wow.fadeInUp Design.
      br
      div.items-container.wow.fadeInUp
        div.item-box
          img(src="./assets/images/icons/photoshop.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/illustrator.svg", class="item-img")
        div.item-box
          img(src="./assets/images/icons/indesign.svg", class="item-img")
